@model Moment2Mvc.Models.CurrencyConverterModel

<div class="resultContainer">

    @if (Model != null)
    {
        <h2>Resultat</h2>
        <p><strong>Från:</strong> @Model.FromCurrency</p>
        <p><strong>Till:</strong> @Model.ToCurrency</p>
        <p><strong>Belopp:</strong> @Model.Amount</p>
        <p><strong>Växelkurs:</strong> @Model.ExchangeRate</p>
        <p><strong>Omvandlat belopp:</strong> @Model.ConvertedAmount</p>
    }
    else
    {
        <p class="nothingToShow">Det finns inget att visa...</p>
    }

</div>