@model Moment2Mvc.Models.CurrencyConverterModel


@if (Model != null)
    {
    <h2>Resultat</h2>
    <p>Från: @Model.FromCurrency</p>
    <p>Till: @Model.ToCurrency</p>
    <p>Belopp: @Model.Amount</p>
    <p>Växelkurs: @Model.ExchangeRate</p>
    <p>Omvandlat belopp: @Model.ConvertedAmount</p>
    
    }